h1{
  color: blue;

  background-color: brown;
}
  
#Ram{
  color: aquamarine;
}

.Hello{
  color: blueviolet;
}


*{
  background-color: black;

}

*{
  color: rgb(82, 14, 255);
}

*{
  font-style: italic;
}